body{
	background-image: url(../images/pic2.jpg);
    background-size: 100%;

}
form{
	border:none;
	width: 400px;
    height: 650px;
    margin-left: 0px;
    margin-top: 40px;
    font-family: Arial Narrow,Arial,sans-serif;
    opacity: 0px;
    color: black;
    border-style: inset;
    background-color: rgba(0,0,0,.3);
}



input[type=text], input[type=password]{
	width: 80%;
	padding: 7px;
	box-sizing: border-box;
	border: solid black;
	 color: white;
	
	background: transparent;
	margin-left: 40px;
}
input[type="submit"]{
	width: 80%;
	padding: 9px;
	margin-left: 40px;
	outline: none !important;
	border: none;
	color: white;
	background: transparent;
	background: rgb(99, 65, 211);
	
	margin-top: 23px;
}
input[type="submit"]:hover{
	color: black;
	background-color: rgb(186, 31, 157);
	 
}

h2{
	margin-left: 40px;
	color: white;
}



.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 60%;
  margin-left: 158px;
  margin-top: 20px;
  margin-bottom: -75px;
  overflow: hidden;
 
}
.input1{
	margin-top: 15px;
	height: 80px;
}
::placeholder{
    color: black;
}
.input2{
	margin-left: 7px;
	color: black;
}
.input3{
	margin-left: 43px;
	color: black;
}



