body{
	background-image: url(../Images/pic2.jpg);
    background-size: 100%;
    
}
form{
	border:none;
	width: 400px;
    height: 400px;
    margin-left: 700px;
    margin-top: 40px;
    font-family: Arial Narrow,Arial,sans-serif;
    background-image: url(../Images/pic2.jpg);
    background-size: 100%;
    opacity: 1px;
    color: white;
    border-style: inset;
    background-color: rgba(0,0,0,.3);
}



input[type=text], input[type=password]{
	width: 80%;
	padding: 7px;
	box-sizing: border-box;
	border: solid black;
	color: white;
	
	background: transparent;
	margin-left: 40px;
}
input[type="submit"]{
	width: 80%;
	padding: 9px;
	margin-left: 40px;
	outline: none !important;
	border: none;
	color: white;
	background: transparent;
	background: rgb(99, 65, 211);
	border-radius: 80px;
	margin-top: 23px;
}
input[type="submit"]:hover{
	color: black;
	background-color: rgb(186, 31, 157);
	 
}


h2{
	margin-left: 40px;
	color: white;
}


.reset{
	margin-left: 40px;
}


.color{
	color: black;
	text-decoration: none;
}
.color:hover{
	color: white;
	background-color: black;
}


.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 60%;
  margin-left: 858px;
  margin-top: 20px;
  margin-bottom: -75px;
  overflow: hidden;
 
}
.newuser{
	margin-left: 45px;
	color: black;
	background: none;
	border-style: none;
}
.color{
	color: black;
}
.color:hover{
	color: white;
	background-color: black;
}
::placeholder{
    color: black;
}
.btn{
	margin-left: 240px;
	text-decoration: none;
}




