ul{
	list-style-type: none;
	width: 100%;
	background-color: rgba(0,0,0,100);
	margin: 0px;
	padding: 15px;
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	height: 30px;

}
.active{
	color: aqua;
}
li{
	margin-right: 50px;
	float: right;
}
li a{
	color: white;
}
li.title{
	float: left;
}
div.page-content{

	margin-top: 70px;
	
	
	background-image: url("..Images/pic1.jpg");
	background-color: orange;
}
image{
	height: inherit;
	width: inherit;
}
.button{
	background-color: red;
	border-radius: 10px;
	padding: 5px;

}
body{
	background: url(Images/img1.jpg) no-repeat;
  background-size: 100%;
  background-size: cover;
}