ul{
	list-style-type: none;
	width: 100%;
	background-color: rgba(0,0,0,100);
	margin: 0px;
	padding: 15px;
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	height: 30px;

}
.active{
	color: aqua;
}
li{
	margin-right: 50px;
	float: right;
}
li a{
	color: white;
}
li.title{
	float: left;
}
div.page-content{

	margin-top: 70px;
	
	
	background-image: url("..Images/pic1.jpg");
	background-color: orange;
}

.button{
	background-color: red;
	border-radius: 10px;
	padding: 5px;

}
body{
	background: url(Images/img1.jpg) no-repeat;
  background-size: 100%;
  background-size: cover;
}
body{
	background-image: url(../Images/pic2.jpg);
    background-size: 100%;

}
form{
	border:none;
	width: 400px;
    height: 490px;
    margin-left: 0px;
    margin-top: 100px;
    font-family: Arial Narrow,Arial,sans-serif;
    background-image: url(../Images/pic2.jpg);
    background-size: 100%;
    opacity: 1px;
    color: white;
    border-style: inset;
    background-color: rgba(0,0,0,.3);
}

input[type=text], input[type=password]{
	width: 80%;
	padding: 7px;
	box-sizing: border-box;
	border: solid black;
	color: white;
	
	background: transparent;
	margin-left: 40px;
}
input[type="submit"]{
	width: 80%;
	padding: 9px;
	margin-left: 40px;
	outline: none !important;
}

h2{
	margin-left: 40px;
	color: white;
}