body{
	background-image: url(../Images/pic2.jpg);
    background-size: 100%;

}
form{
	border:none;
	width: 400px;
    height: 490px;
    margin-left: 0px;
    margin-top: 40px;
    font-family: Arial Narrow,Arial,sans-serif;
    background-image: url(../Images/pic2.jpg);
    background-size: 100%;
    opacity: 1px;
    color: white;
    border-style: inset;
    background-color: rgba(0,0,0,.3);
}

input[type=text], input[type=password]{
	width: 80%;
	padding: 7px;
	box-sizing: border-box;
	border: solid black;
	 color: white;
	
	background: transparent;
	margin-left: 40px;
} 
input[type="submit"]{
	width: 80%;
	padding: 9px;
	margin-left: 40px;
	outline: none !important;
}
.login{
	margin-left: 40px;
}

.forgetpwd{
	margin-left: 229px;
	color: black;
}
.box{
	margin-left: 40px;
}
.newuser{
	margin-left: 45px;
	color: black;
}
.color{
	color: black;
	text-decoration: none;
}
.color:hover{
	color: blue;
	background-color: black;
}
.new{
	margin-left: 163px;
}

.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 60%;
  margin-left: 158px;
  margin-top: 20px;
  margin-bottom: -75px;
  overflow: hidden;
 
}
::placeholder{
	color: black;
}

.login{
	border: none;
	color: white;
	background: transparent;
	background: rgb(99, 65, 211);
	border-radius: 80px;
}
input[type="submit"]:hover{
	color: black;
	background-color: rgb(186, 31, 157);
	 
}


h2{
	margin-left: 40px;
	color: white;
}


